In [1]:
import pandas as pd

### Pull the information and dump it into a DataFrame

Need to understand how the information is stored, lets start with movies.csv:
We have movieId, title, and genre.
MovieIds are consistent between ratings.csv, tags.csv, and links.csv as well..

In [4]:
movies = pd.read_csv("ml-latest-small/movies.csv")

Next, ratings.csv

UserId, movieId, rating, and timestamp

In [7]:
ratings = pd.read_csv("ml-latest-small/ratings.csv")

Finally, tags.csv
userId, movieId, tag, and timestamp

tags are user-generated metadata about movies. 
Each tag is typically a single word or short phrase.
The meaning, value, and purpose of a particular tag is determined by each user.

In [38]:
tags = pd.read_csv("ml-latest-small/tags.csv")

#### Now for the cleanign part
Identify and missing data such as missing ratings or incomplete movie information.

I simply will just get rid of incomplete movie information, such as no title or genre

For missing ratings, I would like to try and assess what rating movies by the director typically get and make an educated guess from there on the rating.

Will also needs to remove any duplicate reviews from the same user on the same movie as it is only necessary for one review per movie per user.

Lets start by addressing any duplicate reviews.

In [13]:
ratings.drop_duplicates(subset=["movieId"])

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100820     610   160341     2.5  1479545749
100821     610   160527     4.5  1479544998
100823     610   160836     3.0  1493844794
100827     610   163937     3.5  1493848789
100828     610   163981     3.5  1493850155

[9724 rows x 4 columns]

Next I will address any incomplete movie information, no title or genre

In [14]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [15]:
movies.drop_duplicates(subset=["title"])
na_movies = movies.dropna()

lets also drop any duplicate movieId's

In [21]:
na_movies.drop_duplicates(subset=["movieId"])

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

I dont believe any information was dropped, but good practice nonetheless.

In [27]:
ratings.isna().any()

userId       False
movieId      False
rating       False
timestamp    False
dtype: bool

There are no missing values, so no need to fill in any missing ratings

What would I do if there were any missing ratings?

locate all the movies with the same movieId as the one with a missing rating, find the mean of those selected ratings that all share the same movieId.

In [32]:
import numpy as np
missing_mov = 100 #random movie
#i need the rating mean of the movies with the same movieId 
means = ratings.groupby('movieId')['rating'].mean()
missing_rating = means[missing_mov]

print(float(round(missing_rating)))

3.0

That is the rating I would put if any movies were missing a rating.

In [39]:
tags.isna().all()

userId       False
movieId      False
tag          False
timestamp    False
dtype: bool

As far as I'm concerned, all the data should be clean.